Discos/discos.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="discos" type="tipodiscos"/>
<xs:complexType name="tipodiscos">
<xs:element name="grupo" maxOccurs="unbounded"/>
<xs:element name="discos" maxOccurs="unbounded"/>
</xs:complexType>
<xs:complexType >
<xs:element name="nombre" type="xs:string"/>
<xs:element name="miembro" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="nacionalidad" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="web" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="calle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="localidad" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:choice>
<xs:element name="pagina_web" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="CP" type="xs:string" minOccurs="0"/>
<xs:complexType>
<xs:element name="calle" type="xs:string"/>
<xs:element name="localidad" type="xs:string"/>
</xs:complexType>
</xs:choice>
<xs:attribute name="nom" type="xs:string"/>
</xs:complexType>


<xs:complexType name="tipodiscos">
<xs:element name="interprete" type="xs:string"/>
<xs:attribute name="nom" type="xs:string"/>
<xs:element name="titulo" type="xs:string"/>
<xs:element name="discografica" type="xs:string" minOccurs="0"/>
<xs:choice default="CBS">
<xs:element name="SONY" type="xs:string"/>
<xs:element name="CBS" type="xs:string"/>
<xs:element name="SIRE" type="xs:string"/>
<xs:element name="OTRAS" type="xs:string"/>
</xs:choice>
<xs:element name="anio" type="xs:string"/>
</xs:complexType>
<xs:simpleType ><!-- te falta nombre-->
<xs:restiction base="xs:string">
<xs:totalDigits value="4"/>
</xs:restiction>
</xs:simpleType>
<xs:simpleType name="tipodiscos">
<xs:restriction base="xs:string" minOccurs="0">
<xs:enumeration value="Enero" type="xs:string"/>
<xs:enumeration value="Febrero" type="xs:string"/>
<xs:enumeration value="Marzo" type="xs:string"/>
<xs:enumeration value="Abril" type="xs:string"/>
<xs:enumeration value="Mayo" type="xs:string"/>
<xs:enumeration value="Junio" type="xs:string"/>
<xs:enumeration value="Julio" type="xs:string"/>
<xs:enumeration value="Agosto" type="xs:string"/>
<xs:enumeration value="Septiembre" type="xs:string"/>
<xs:enumeration value="Octubre" type="xs:string"/>
<xs:enumeration value="Noviembre" type="xs:string"/>
<xs:enumeration value="Diciembre" type="xs:string"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="stock" type="xs:string"/>
<xs:simpleType name="anio" type="xs:string"/>
<xs:restriction base="xs:string">
<xs:minInclusive value="0"/>
<xs:minExclusive value="200"/>
</xs:restriction>



<xs:simpleType name="anio" type="xs:string"/>
<xs:restriction base="xs:string">
<xs:fraction value="2"/>
</xs:restriction>


</xs:schema>
